<!DOCTYPE html>
<html>
  <head>
      <title>Mewtwo</title>
   </head>
   <link rel="stylesheet" href="stylesheets/mewtwo.css">

  <body>

   <header>
      <div>
         <img width="400px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="">
         <h2> Primeiro Pokemon mais poderoso - Mewtwo </h2>
      </div>
     
   </header>
         <img src="https://i.pinimg.com/originals/a4/84/11/a48411f8285b33954f9c57ed7b0d330b.jpg"
    height="700px"
    width="1247px"
    alt="Mewtwo"/>
    
    <h1> Mewtwo</h1>
    <p class="paragrafo1">
      Mewtwo é uma criatura oficial da franquia Pokémon, criada pela Nintendo e pela Game Freak. 
      Criado por Ken Sugimori, apareceu pela primeira vez nos jogos de vídeogame Pokémon Red e Blue
      e suas seqüencias, e mais tarde apareceu em vários produtos, títulos de spin-off, assim como 
      adaptações de animação da franquia.
      
      
      A equipe Rocket consagrou a partir do DNA do lendário Pokémon psíquico Mew que já era 
      extremamente forte, Mewtwo é tão poderoso quanto o original, e certamente mais inteligente.
      No anime, ele supervisiona, sozinho, o processo de clonagem de outros Pokémon, com a intenção
      de criar um exército.
      Mewtwo não possui nenhuma Mega Evolução, ao contrário de Mew, que tem duas. Mewtwo X e Mewtwo Y.
      É dito que, com um mero pensamento, ele pode fazer um arranha-céu em pedaços!</p>
      
<p id="paragrafo2"> equipe Rocket consagrou a partir do DNA do lendário Pokémon psíquico Mew que já era 
   extremamente forte, Mewtwo é tão poderoso quanto o original, e certamente mais inteligente.
   No anime, ele supervisiona, sozinho, o processo de clonagem de outros Pokémon, com a intenção
   de criar um exército.
   Mewtwo não possui nenhuma Mega Evolução, ao contrário de Mew, que tem duas. Mewtwo X e Mewtwo Y.
   É dito que, com um mero pensamento, ele pode fazer um arranha-céu em </p>







   
      <iframe width="784" height="441" src="https://www.youtube.com/embed/WiP5MZ0b0uc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
      <img height="440px" width="450x" src="https://d2skuhm0vrry40.cloudfront.net/2019/articles/2019-09-20-12-11/pokemon-go-mewtwo-header.jpg/EG11/resize/1200x-1/pokemon-go-mewtwo-header.jpg" alt="">


      <h3>Caracteristicas</h3>
<!-- ul = unordred - lista não ordenada-> -->
<ul>

   <li>Row              = 151  </li>
   <li>Name             =  Mewtwo </li>
   <li>Pokdex Number    =  150 </li>
   <li>Img name         =  150 </li>
   <li>Generation       =  1 </li>
   <li>Evolution Stage  =  1 </li>
   <li>Evolved          =  0 </li>
   <li>FamilyID         =  78 </li>
   <li>Cross Gen        =  0 </li>
   <li>Type 1           =  psychic </li>
   <li>Type 2           =  0</li>
   <li>Weather 1        =  Windy </li>
   <li>Weather 2        =  0</li>
   <li>STAT TOTAL       =  675 </li>
   <LI>ATK              =  300 </LI>
   <LI>DEF              =  182 </LI>
   <LI>STA              =  193 </LI>
   <li>Legendary        =  1 </li>
   <li>Aquireable       =  1</li>
   <li>Spawns           =  0 </li>
   <li>Regional         =  0</li>
   <li>Raidable         =  0</li>
   <li>Hatchable        =  0</li>
   <li>Shiny            =  0</li>
   <li>Nest             =  0</li>
   <li>New              =  0</li>
   <li>Not-Gettable     =  0</li>
   <li>Future Evolved   =  0</li>
   <li>100% CP @ 40     =  3982</li>
   <li>100% CP @ 39     =  3925</li>


   

<h2><a href="/pokemon"> pagina inicial</a></h2>

   </body>
</html>









