<!DOCTYPE html>
<html>
  <head>
      <title>Pokemon</title>
      <link rel="stylesheet" href="stylesheets/pokemon.css">
   </head>
  <body>
   <header>
      <div>
         <img width="400px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="">
         <h3> Cinco Pokemoms mais poderosos</h3>
        

      </div>
      <a href="/mewtwo"> Mewtwo </a>  
      <a href="/dragonite"> Dragonite</a>
      <a href="/mew"> Mew</a>  
      <a href="/moltres"> Moltres </a>
      <a href="/about"> Acessar about</a>

   </header>
 
   
    <img width="1248px" height="750px" src="https://s2.glbimg.com/_APOHn63uMNBgSO3rkzQdhamkNo=/0x0:1200x675/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/P/u/q2Los5SuGntVVroz4z8A/novo-projeto-2019-11-09t180120.405.png" alt="">
    
    <!-- <img src="https://4.bp.blogspot.com/-eDHBnaq5Cy0/XNWf-sItmFI/AAAAAAAACGU/w1FGeXZ12L4VRLbGVSU7iUITHpbFliUTACLcBGAs/s1600/capa%2Bpseudo.jpg" alt=""> -->
    
    <br><br>
   
  <main>
   
   <form>   
     
     <br><br>

      <div>
         <input type="submit" value="TOPO DA PAGINA" >
      </div>
     
   </form>

   </main>
  
   <footer>
      
      <a href="/mewtwo"> Mewtwo </a>  
      <a href="/dragonite"> Dragonite</a>
      <a href="/mew"> Mew</a>  
      <a href="/moltres"> Moltres </a>
      <a href="/about"> Acessar about</a>

   </footer>

   </body>
</html>



